.user-profile-card {
    position: sticky;
    top: 100px;
    height: 185px;
    width: 225px;
    border: 0.5px solid black ;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.profile-background-div {
    width: inherit;
    height: 56.25px;
    background-color: rgb(101,175,165);
    border-radius: 10px 10px 0 0;

}
.profile-background-img {
    width: inherit;
    height: inherit;
    border-radius: inherit;
}

.profile-card-user-img {
    height: 72px;
    width: 72px;
    border-radius: 50px;
    position: absolute;
    top: 10%;
    left: 35%;
}

.profile-card-bottom-div {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.profile-card-user-name {
    font-size: 16px;
    font-weight: 600;
    color: rgb(52,52,52);
}

.profile-card-user-education {
    font-size: 12px;
    font-weight: 400;
    color: rgb(52,52,52);
}
