.profile-button-div {
  margin-right: 10%;
}

.profile-image-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar-profile-img {
  width: 35px;
  height: 35px;
  border-radius: 50px;
}

.profile-dropdown {
  position: absolute;
  list-style: none;
  right: 10%;
  width: 255px;
  max-width: 255px;
  z-index: 500;
  background-color: rgb(201, 227, 228);
  border-radius: 5px;
}

.hidden {
  display: none;
}

.splash-page-navbar {
  position: fixed;
  top: 0px;

  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  z-index: 1;
}

.logo-div {
  margin-left: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-signup-div {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-right: 5%;

}

.navbar-login {
  height: 50px;
  width: 110px;
  display: flex;

  justify-content: center;
  align-items: center;
  border-radius: 30px;
  color: rgb(52,52,52);
  text-decoration: none;
  font-weight: 800;
}

.navbar-login:hover {
  background-color: rgb(198, 223, 223);
}

.navbar-signup {
  height: 50px;
  width: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(74,129,131);
  border-radius: 30px;
  color: rgb(74,129,131);
  text-decoration: none;
  font-weight: 800;
}

.navbar-signup:hover {
  background-color: rgb(201, 227, 228);
}



.user-dropdown-div-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
  padding: 7px;
}

.dropdown-profile-img {
  width: 55px;
  height: 55px;
  border-radius: 50px;
}

.dropdown-signout-div {
  margin: 5px;
  /* border-top: 0.5px solid black; */
  padding: 5px;
  cursor: pointer;
}
